center
    .contact_me
        h3 Liên hệ với tôi
        img(src="/picture/fk_ct.png", alt="", srcset="")
        a(href="sign_up" class="dk") Đăng kí  
        a(href="sign_in" class="dn") Đăng nhập
    .main_book
        .icon_book
            img(src="/picture/boock_background.png", alt="", srcset="")
            h3 Những câu chuyện của tôi
        .body_book
            .left_book
                .item_book
                    .content_item
                        a(href="http://")
                            h3 Vòng lặp hằng ngày
                        p 
                            span ___
                            |Cách đây 3 đến 4 năm trở về trước diều này không đáng gì để tôi bận tâm,....
                    img(src="picture/img_day/day_day.png", alt="", srcset="")
                .item_book
                    .content_item
                        a(href="http://")
                            h3 Những Ngày đầu bỡ ngỡ
                        p 
                            span ___
                            |Những tháng ngày đầu tiên tôi đặt chân vào đại học , cũng là những .....
                    img(src="/picture/img_day/bo_ngo.png", alt="", srcset="")
                .item_book
                    .content_item
                        a(href="http://")
                            h3 Mối quan hệ 
                        p 
                            span ___
                            |Ở một mình là 1 cảm giác mà không ai muốn , cũng là cảm  giác đau bậc nhất ....
                    img(src="picture/img_day/quan_he.png", alt="", srcset="")
                .item_book
                    .content_item
                        a(href="http://")
                            h3 Lợm lặt kiến thức
                        p 
                            span ___
                            |Không biết có ai như tôi không , những thứ tôi học được đầu tiên khi đặt chân ...
                    img(src="picture/img_day/bai_hoc.png", alt="", srcset="")
            .right_book
                .item_book
                    .content_item
                        a(href="http://")
                            h3 Ấn tượng 3 lần gặp
                        p 
                            span ___
                            |Chỉ là những ấn tượng khó quên sau khi gặp 1 đứa con gái ...
                    img(src="picture/img_day/girl.png", alt="", srcset="")
                .item_book
                    .content_item
                        a(href="http://")
                            h3 Người học trò đầu tiên
                        p 
                            span ___
                            |Cũng không hẵn mình là ép , cơ mà chỉ hai từ " Sư phụ " mà ả ta nói nên nhận thôi ...
                    img(src="/picture/img_day/akily.png", alt="", srcset="")
                .item_book
                    .content_item
                        a(href="http://")
                            h3 Ngày 30 tết của tôi
                        p 
                            span ___
                            |Ngày này của bao năm cũng bình yên nếu không có viên thuốc giải rượu ....
                    img(src="picture/img_day/30tet.png", alt="", srcset="")
                .item_book
                    .content_item
                        a(href="http://")
                            h3 Thresh và tôi
                        p 
                            span ___
                            |Thresh .. chỉ là một vị tướng tôi yêu thích , nhưng ngay từ đầu tôi không hề thích nó nếu ...
                    img(src="", alt="", srcset="")
