head
    .main_bookshelf
        .info_kelamchuyen
            img(src="/picture/face.png", alt="", srcset="")
            h3 Kẻ lắ m chuyện
        .bookshelf
            .tkb
            .left_bookshelf
                .book_1
                    img(src="/picture/rubik.png", alt="", srcset="")
                .book_2
                    img(src="/picture/c4la.png", alt="", srcset="")
                .book_3
                    img(src="/picture/boook.png", alt="", srcset="")
                    a(href="http://")
                        h4 May mắn trong cuộc sống
                .book_4
                    img(src="/picture/boook.png", alt="", srcset="")
                    a(href="http://")
                        h4 Thất 
                            |bại và bài học
                .book_5
                    img(src="/picture/boook.png", alt="", srcset="")
                    a(href="http://")
                        h4 Sở thích cá nhân & kali linux
                .book_6
                    img(src="/picture/boook.png", alt="", srcset="")
                    a(href="http://")
                        h4 Mối quan hệ 
                            span  _
                            |và ấn tượng của tôi
                .book_7
                    img(src="/picture/boook.png", alt="", srcset="")
                    a(href="http://")
                        h4 Chuyện hằng ngày của tôi
            .right_bookshelf
                .main_sline
                    img(src="/picture/sline1.png", alt="", srcset="")