.book_end
    .comment
        .write_comment
        .send_comment
            img(src="/picture/send.png", alt="", srcset="")
    .info_me
        img(src="/picture/face.png", alt="", srcset="")
        h3 Blog của tôi
        p Là 1 phần con người thật của tôi
.show_comment